{% extends "base.html" %}

{% block page_title %}EatingPanda - Restricted{% endblock %}

{% block left_sidebar %}
<div class="margin_bottom_10"></div>
You got on a page you have no permisions for. 
<div class="margin_bottom_20"></div>
{% endblock %}


{% block content %}
<div class="content_section">
    <div class="margin_bottom_10"></div>
    <div class="header_02" style="text-align: center; font-size: 350%;">PAGE RESTRICTED!!!</div>
    <div class="margin_bottom_20"></div>
</div>
{% endblock %}
